<% include partials/header %>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8</a>
    <br />
    <a href="http://localhost:3000/index.html">Absolute Link Example</a>
    <br />
    <a href="/templatelink">Template Link Example</a>
    <br />
    <br />
    <a href="/accounts/?account_id=1">Account By ID</a>
    <br />
    <a href="/accounts/all">All Accounts</a>

<h1>Address</h1>
<a href="/address/">All Addresses</a><br />
<a href="/address/create">Create Address</a>

<h1>Company</h1>
<a href="/company/edit/?company_id=1">Edit a Company</a>
<% include partials/footer %>